
<!-- Modal per creazione/aggiunta di nuova istanza -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create New Affiliate Link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createForm">
                    <div class="mb-3">
                        <label for="createUrl" class="form-label">url</label>
                        <input type="text" class="form-control" data-field="url" id="createUrl" required>
                    </div>
                    <div class="mb-3">
                        <label for="createActionDate" class="form-label">Action Date</label>
                        <input type="date" class="form-control" data-field="action_date" id="createActionDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="createIpAddress" class="form-label">IP Address</label>
                        <input type="text" class="form-control" data-field="ip_address" id="createIpAddress" required>
                    </div>
                    <div class="mb-3">
                        <label for="createDeviceInfo" class="form-label">Device Info</label>
                        <input type="text" class="form-control" data-field="device_info" id="createDeviceInfo" required>
                    </div>
                    <div class="mb-3">
                        <label for="createLinkStatus" class="form-label">Link Status</label>
                        <input type="text" class="form-control" data-field="link_status" id="createLinkStatus" required>
                    </div>
                    <div class="mb-3">
                        <label for="createLandingPage" class="form-label">Landing Page</label>
                        <input type="text" class="form-control" data-field="landing_page" id="createLandingPage" required>
                    </div>
                    <div class="mb-3">
                        <label for="createCustomTrackingId" class="form-label">Custom Tracking Id</label>
                        <input type="text" class="form-control" data-field="custom_tracking_id" id="customTrackingId" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createSubmitBtn"
                    onclick="saveNewAffiliate()">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal per modifica istanza -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Affiliate Link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" id="editId">
                    <div class="mb-3">
                        <label for="editUrl" class="form-label">url</label>
                        <input type="text" class="form-control" data-field="url" id="editUrl" required>
                    </div>
                    <div class="mb-3">
                        <label for="editActionDate" class="form-label">Action Date</label>
                        <input type="date" class="form-control" data-field="action_date" id="editActionDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="editIpAddress" class="form-label">IP Address</label>
                        <input type="text" class="form-control" data-field="ip_address" id="editIpAddress" required>
                    </div>
                    <div class="mb-3">
                        <label for="editDeviceInfo" class="form-label">Device Info</label>
                        <input type="text" class="form-control" data-field="device_info" id="editDeviceInfo" required>
                    </div>
                    <div class="mb-3">
                        <label for="editLinkStatus" class="form-label">Link Status</label>
                        <input type="text" class="form-control" data-field="link_status" id="editLinkStatus" required>
                    </div>
                    <div class="mb-3">
                        <label for="editLandingPage" class="form-label">Landing Page</label>
                        <input type="text" class="form-control" data-field="landing_page" id="editLandingPage" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCustomTrackingId" class="form-label">Custom Tracking Id</label>
                        <input type="text" class="form-control" data-field="custom_tracking_id" id="customTrackingId" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="editSubmitBtn" onclick="saveAffiliateChanges()">Save
                    Changes</button>
            </div>
        </div>
    </div>
</div>