{% extends 'dashboard/layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Promotion Sales" %}{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Le tue Promozioni</h1>

    {% if products %}
    <div class="row">
        {% for item in products %}
        <div class="col-md-4 m-5">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.product.name }}</h5>
                    <p class="card-text">{% trans "Description" %}: {{ item.product.description|default:"No description available." }}</p>
                    <p class="card-text">{% trans "Price" %}: {{ item.product.price | default:"Unknown price" }} {{ item.product.currency|default:"USD"|upper }}</p>
                    <p>Link Promozionale: <a href={{ promotion.get_promotion_url }} target="_blank">{{ promotion.get_promotion_url }}</a></p>
                    <button class="btn btn-primary promote-btn" onclick="copyLink('{{ promotion.get_promotion_url }}')">{% trans "Copy Link" %}</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Non hai ancora promozioni attive.</p>
    {% endif %}

</div>

{% endblock %}

{% block scripts %}
<script>
    // Funzione per copiare il link negli appunti
    function copyLink(link) {
        const textarea = document.createElement('textarea');
        textarea.value = link;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
        alert('Link copiato negli appunti!');
    }
</script>
{% endblock %}