
{% load i18n %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core_home' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">{% trans "Dashboard" %}</span>
      </a>
    </li>
    {% if user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">{% trans "UI Elements" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'ui_features_buttons' %}">{% trans "Buttons" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'ui_features_dropdowns' %}">{% trans "Dropdowns" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'ui_features_typography' %}">{% trans "Typography" %}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
        aria-controls="form-elements">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">{% trans "Form elements" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'forms_basic_elements' %}">{% trans "Basic Elements" %}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">{% trans "Charts" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'charts' %}">{% trans "ChartJs" %}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">{% trans "Tables" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'basic_table' %}">{% trans "Basic table" %}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
        <i class="icon-contract menu-icon"></i>
        <span class="menu-title">{% trans "Icons" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'icons_mdi' %}">{% trans "Mdi icons" %}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">{% trans "User Pages" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'core_login' %}">{% trans " Login " %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'core_register' %}">{% trans " Register " %}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
        <i class="icon-ban menu-icon"></i>
        <span class="menu-title">{% trans "Error pages" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="error">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url '404' %}">{% trans " 404 " %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url '500' %}">{% trans " 500 " %}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'documentation' %}">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">{% trans "Documentation" %}</span>
      </a>
    </li>
    {% endif %}

    {% if not user.profile.is_business %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#customer" aria-expanded="false" aria-controls="customer">
        <i class="bi bi-building menu-icon"></i>
        <span class="menu-title">{% trans "Customers" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="customer">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'create_enterprise' %}">{% trans "Create Customer" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'enterprise_list' %}">{% trans "List Customer" %}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#referred-accounts" aria-expanded="false" aria-controls="referred-accounts">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">{% trans "Referred Accounts" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="referred-accounts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'my_network' %}">{% trans "My Network" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'master_accounts' %}">{% trans "Master Accounts" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'investor_accounts' %}">{% trans "Investor Accounts" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'incomplete_registrations' %}">{% trans "Incomplete Registrations" %}</a></li>
        </ul>
      </div>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products">
        <i class="bi bi-shop menu-icon"></i>
        <span class="menu-title">{% trans "Prodotti" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="products">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'product_list' %}">{% trans "Prodotti" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'purchased_products' %}">{% trans "I miei prodotti" %}</a></li>
          <!--<li class="nav-item"><a class="nav-link" href="{#% url 'my_promotions' %#}">{#% trans "My promotions" %#}</a></li>-->
        </ul>
      </div>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" href="{#% url 'my_network' %#}">
        <i class="bi bi-people menu-icon"></i>
        <span class="menu-title">{% trans "My Network" %}</span>
      </a>
    </li>-->
    {% if not user.profile.is_business %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#finances" aria-expanded="false" aria-controls="finances">
        <i class="bi bi-bank menu-icon"></i>
        <span class="menu-title">{% trans "Finances" %}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="finances">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'commissions' %}">{% trans "Commissions" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'customer_transactions' %}">{% trans "Customer Transactions" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'transactions' %}">{% trans "Transactions" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'withdrawals' %}">{% trans "Withdrawals" %}</a></li>
        </ul>
      </div>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core_profile' %}">
        <i class="bi bi-person menu-icon"></i>
        <span class="menu-title">{% trans "My Profile" %}</span>
      </a>
    </li>
    {% if not user.profile.is_business %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'plans' %}">
        <i class="bi bi-kanban menu-icon"></i>
        <span class="menu-title">{% trans "Plans" %}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'schema-redoc' %}">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">{% trans "API Documentation" %}</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>