{% extends 'dashboard/layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Purchased Products" %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}


{% block content %}
<div class="container mt-5">
  <h4>Your Active Subscriptions</h4>
  {% if subscriptions %}
  {{subscriptions}}
  <div class="row">
    {% for subscription in subscriptions %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Subscription Plan: {{ subscription.plan.nickname }}</h5>
          <p class="card-text">Status: {{ subscription.status }}</p>
          <p class="card-text">Product: {{ subscription.plan.product }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>You do not have any active subscriptions.</p>
  {% endif %}

  <hr>

  <h4>Purchased One-Time Products</h4>
  {% if purchased_one_time_products %}
  {{purchased_one_time_products}}
  <div class="row">
    {% for product in purchased_one_time_products %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Price: {{ product.price_amount }} {{ product.currency }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>You have not purchased any one-time products.</p>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="{% static 'subscriptions/test.js' %}"></script>
{% endblock %}