{% extends 'dashboard/layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}Pagina Profilo - {{ user.first_name }}{% endblock %}

{% block styles %}
<!-- Aggiungere stili personalizzati per la pagina -->
<style>
    .profile-header {
        background-color: #f8f9fa;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .profile-header img {
        height: 100%;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }


    .section-title {
        font-weight: bold;
        color: #2d3e50;
        margin-top: 20px;
        border-bottom: 2px solid #ddd;
        padding-bottom: 10px;
    }

    .profile-stat {
        font-size: 24px;
        font-weight: bold;
    }

    .profile-stat-value {
        font-size: 18px;
        color: #28a745;
    }

    .card {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .btn-custom {
        background-color: #0062cc;
        color: white;
        border: none;
        border-radius: 5px;
    }

    .btn-custom:hover {
        background-color: #0056b3;
    }

    .form-control {
        border-radius: 5px;
    }

    .copy-link-btn {
        margin-top: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;

    }
</style>
{% endblock %}

{% block content %}
<div class="container">

    <!-- Header Profilo -->
    <div class="row mt-3">
        <div class="col-md-12">
            <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="profile-header-img img-fluid rounded-circle"
                sizes="150x150">
            <h2>{{ user.first_name|default:"Guest" }} {{ user.last_name|default:"" }}</h2>
            <p class="text-muted">{% trans "Benvenuto nel tuo profilo. Gestisci il tuo account e visualizza i tuoi referral." %}</p>
            <p>{% trans "Ti sei registrato con il codice referral" %}:
            <p>{% if referrer_code %}
                {{ referrer_name }}
                {% else %}
                Nessuno
                {% endif %} {% if referrer_code %}(cod:{{ referrer_code }}){% endif %}
            </p>
            </p>

            {% if referral_code %}
            <br>
            <h4>{% trans "Il tuo codice referral" %}</h4>
            <div class="input-group">
                <input type="text" class="form-control" id="referral-code" value="{{ referral_code }}" readonly>
                <button class="btn btn-primary ml-2" id="copy-code"><i class="bi bi-clipboard"></i></button>
            </div>
            <br>
            <h4>{% trans "Il tuo link referral" %}</h4>
            <div class="input-group">
                <input type="text" class="form-control" id="referral-unique-url" value="{{ referral_unique_url }}"
                    readonly>
                <button class="btn btn-primary ml-2" id="copy-url"><i class="bi bi-clipboard"></i></button>
            </div>
            {% else %}
            <p class="text-muted">{% trans "Non hai un codice referral disponibile." %}</p>
            {% endif %}

        </div>
    </div>

    {% if messages %}
    <div class="alert alert-dismissible fade show mt-3">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Modifica Dati Personali -->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="section-title mb-4">{% trans "Modifica Dati Personali" %}</h4>
                    <form method="POST" action="{% url 'core_profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- User form -->
                        {{ form.as_p }}

                        <!-- Profile form -->
                        {{ profile_form.as_p }}

                        <!-- Profile Base form -->
                        {{ profile_base_form.as_p }}

                        <!-- Profile Business form -->
                        {% if is_business %}
                        <br>
                        <h4 class="section-title mb-4">{% trans "Modifica Dati Aziendali" %}</h4>

                        <!-- Campo Google Maps Link -->
                        <div class="form-group">
                            <label for="id_link_google_maps">{% trans "Google Maps Link" %}</label>
                            {{ business_form.link_google_maps }}
                        </div>

                        <!-- Campo Contact Number -->
                        <div class="form-group">
                            <label for="id_contact_number">{% trans "Contact Number" %}</label>
                            {{ business_form.contact_number }}
                        </div>

                        <!-- Campo Chamber Commerce Certificate -->
                        <div class="form-group">
                            <label for="id_chamber_commerce_certificate">{% trans "Chamber of Commerce Certificate" %}</label>
                            {{ business_form.chamber_commerce_certificate }}
                        </div>

                        <!-- Campo Insurance Policy Certificate -->
                        <div class="form-group">
                            <label for="id_insurance_policy_certificate">{% trans "Insurance Policy Certificate" %}</label>
                            {{ business_form.insurance_policy_certificate }}
                        </div>

                        <!-- Campo Region -->
                        <div class="form-group">
                            <!--<p>{% trans "N.B.: Scrivi la regione (Abruzzo, Basilicata, Calabria, Campania, Emilia-Romagna, Friuli-Venezia Giulia, Lazio, Liguria, Lombardia, Marche, Molise, Piemonte, Puglia, Sardegna, Sicilia, Toscana, Trentino-Alto Adige/Südtirol, Umbria, Valle d'Aosta/Vallée d'Aoste, Veneto)" %}</p>-->
                            <label for="id_region">{% trans "Region" %}</label>
                            {#{ business_form.region }#}
                            <select name="region" id="id_region" class="form-control">
                                {% for region in business_form.region.field.queryset %}
                                <option value="{{ region.id }}" {% if business_form.region.value == region.id|stringformat:"s" %}selected{% endif %}>
                                    {{ region.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>



                        <!-- Campo Sectors (Checkboxes) -->
                        <div class="form-group">
                            <label for="id_sectors">{% trans "Sectors" %}</label>
                            <div class="row" style="margin-left: 25px;">
                                {% for sector in business_form.sectors.field.queryset %}
                                <div class="form-check col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                    <input class="form-check-input" type="checkbox" name="sectors"
                                        value="{{ sector.id }}" {% if sector.id in business_form.sectors.value %}checked{% endif %}>
                                    <label class="form-check-label">{{ sector.name }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>


                        <!-- Campo Holder -->
                        <div class="form-group">
                            <label for="id_holder">{% trans "Holder" %}</label>
                            {{ business_form.holder }}
                        </div>

                        <!-- Campo Company Name -->
                        <div class="form-group">
                            <label for="id_company_name">{% trans "Company Name" %}</label>
                            {{ business_form.company_name }}
                        </div>

                        <!-- Campo Email -->
                        <div class="form-group">
                            <label for="id_email">{% trans "Email" %}</label>
                            {{ business_form.email }}
                        </div>
                        {% endif %} 

                        <!-- Pulsanti -->
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg mr-2">{% trans "Salva Modifiche" %}</button>
                            <button type="reset" class="btn btn-secondary btn-lg">{% trans "Reset" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Funzione per copiare il codice referral
        $('#copy-code').click(function () {
            var copyText = $('#referral-code')[0];
            copyText.select();

            // Cambia l'icona del bottone in "clipboard-check"
            var copyCode = $('#copy-code');
            copyCode.html('<i class="bi bi-clipboard-check"></i>');  // Cambia l'icona

            // Esegui il comando per copiare il testo
            document.execCommand('copy');

            // Dopo 2 secondi (2000 ms), ripristina l'icona originale
            setTimeout(function () {
                copyCode.html('<i class="bi bi-clipboard"></i>');  // Ripristina il testo o l'icona originale
            }, 2000);  // Tempo di attesa in millisecondi (2 secondi)
        });

        // Funzione per copiare il link referral
        $('#copy-url').click(function () {
            var copyText = $('#referral-unique-url')[0];
            copyText.select();

            // Cambia l'icona del bottone in "clipboard-check"
            var copyCode = $('#copy-url');
            copyCode.html('<i class="bi bi-clipboard-check"></i>');  // Cambia l'icona

            // Esegui il comando per copiare il testo
            document.execCommand('copy');

            // Dopo 2 secondi (2000 ms), ripristina l'icona originale
            setTimeout(function () {
                copyCode.html('<i class="bi bi-clipboard"></i>');  // Ripristina il testo o l'icona originale
            }, 2000);  // Tempo di attesa in millisecondi (2 secondi)
        });

        // Funzione per caricare i dati dalla backend
        function loadUserData() {
            const response = fetch(`${window.location.origin}/get-level-users/`);  // URL delle API backend
            const users = response.json();

            console.log(users);
            let tableBody = document.getElementById('user-table-tbody');
            tableBody.innerHTML = '';  // Svuota la tabella esistente

            // Aggiungi una riga per ogni utente
            users.forEach(user => {
                const row = document.createElement('tr');

                row.innerHTML = `
                    <td>${user.first_name}</td>
                    <td>${user.last_name}</td>
                    <td>${user.username}</td>
                    <td>${user.level}</td>
                `;

                console.log(row);
                tableBody.appendChild(row);
            });
        }

        // Carica i dati degli utenti quando la pagina viene caricata
        //loadUserData(); // document.addEventListener('DOMContentLoaded', loadUserData);
        // Carica i dati all'avvio
        // loadProfileData();
    });
</script>
{% endblock %}