<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{% trans "GetREF" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- unauthorized users-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Features" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Pricing" %}</a>
                </li>

                <!-- authorized users -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Affiliate
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'affiliate_audit_list' %}">{% trans "Audit" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_campaign_list' %}">{% trans "Campaign" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_commission_list' %}">{% trans "Commission" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_incentive_list' %}">{% trans "Incentive" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_link_list' %}">{% trans "Link" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_notification_list' %}">{% trans "Notification" %}</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_payout_list' %}">{% trans "Payout" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_performance_list' %}">{% trans "Performance" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_program_list' %}">{% trans "Program" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_reward_list' %}">{% trans "Reward" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_setting_list' %}">{% trans "Setting" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'affiliate_support_ticket_list' %}">{% trans "Support Ticket" %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Referral
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'referral_audit_list' %}">{% trans "Audit" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_bonus_list' %}">{% trans "Bonus" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_campaign_list' %}">{% trans "Campaign" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_code_list' %}">{% trans "Commission" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_conversion_list' %}">{% trans "Incentive" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_engagement_list' %}">{% trans "Engagement" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_notification_list' %}">{% trans "Notification" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_program_list' %}">{% trans "Program" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_reward_list' %}">{% trans "Reward" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_setting_list' %}">{% trans "Setting" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_stat_list' %}">{% trans "Stat" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'referral_transaction_list' %}">{% trans "Support Ticket" %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>