{% extends "referral/base.html" %}

{% block title %}Referral Audit Detail{% endblock %}

{% block content %}
    <div class="container">
        <h1>Referral Detail</h1>
        
    <!-- Filtraggio e bottoni di azione -->
    <div class="d-flex justify-content-between mb-4">
        <!-- Bottone per creare una nuova istanza -->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="bi bi-plus-circle"></i> Create Instance
        </button>
 
    </div>

    <!-- Tabella degli Audit -->
    <ul class="list-group" id="referralNotificationDetail">
            <!-- Referral Notificationdetails will be displayed here -->
        </ul>
    </div>

    {% include 'referral/modals/modal_create_update_referral_notification.html' %}

    <script>
    // Funzione per estrarre l'ID dall'URL
    function getReferralIdFromUrl() {
        const pathSegments = window.location.pathname.split('/'); // Dividi il percorso dell'URL
        return pathSegments[pathSegments.length - 2]; // L'ID dovrebbe essere il penultimo segmento
    }
        async function fetchReferralNotificationDetail() {
            const id = getAffiliateIdFromUrl(); // Ottieni l'ID dinamicamente
            try {
                const response = await fetch(`${window.location.protocol}://${window.location.host}/api/v0/referral/notifications/${id}/`);
                const referral = await response.json();
                const detailList = document.getElementById('referralNotificationDetail');
                const details = `
                    <li class="list-group-item"><strong>ID:</strong> ${referral.id}</li>
                    <li class="list-group-item"><strong>Message:</strong> ${referral.message}</li>
                    <li class="list-group-item"><strong>Date Sent:</strong> ${referral.date_sent}</li>
                    <li class="list-group-item"><strong>Is Read:</strong> ${referral.is_read}</li>
                    <li class="list-group-item"><strong>Priority:</strong> ${referral.priority}</li>
                    <li class="list-group-item"><strong>Notification Type:</strong> ${referral.notification_type}</li>`;
                detailList.innerHTML = details;
            } catch (error) {
                console.error('Error fetching referral notification detail:', error);
            }
        }

        // Chiamata alla funzione con l'ID dell'affiliato da visualizzare
        fetchReferralNotificationDetail();
    </script>
{% endblock %}
