{% extends "referral/base.html" %}

{% block title %}Referral Setting Detail{% endblock %}

{% block content %}
    <div class="container">
        <h1>Referral Detail</h1>
        
    <!-- Filtraggio e bottoni di azione -->
    <div class="d-flex justify-content-between mb-4">
        <!-- Bottone per creare una nuova istanza -->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="bi bi-plus-circle"></i> Create Instance
        </button>
 
    </div>

    <!-- Tabella degli Audit -->
    <ul class="list-group" id="referralSettingDetail">
            <!-- Referral Settingdetails will be displayed here -->
        </ul>
    </div>

    {% include 'referral/modals/modal_create_update_referral_setting.html' %}

    <script>
    // Funzione per estrarre l'ID dall'URL
    function getReferralIdFromUrl() {
        const pathSegments = window.location.pathname.split('/'); // Dividi il percorso dell'URL
        return pathSegments[pathSegments.length - 2]; // L'ID dovrebbe essere il penultimo segmento
    }
        async function fetchReferralSettingDetail() {
            const id = getAffiliateIdFromUrl(); // Ottieni l'ID dinamicamente
            try {
                const response = await fetch(`${window.location.protocol}://${window.location.host}/api/v0/referral/settings/${id}/`);
                const referral = await response.json();
                const detailList = document.getElementById('referralSettingDetail');
                const details = `
                    <li class="list-group-item"><strong>ID:</strong> ${referral.id}</li>
                    <li class="list-group-item"><strong>Preferred Currency:</strong> ${referral.preferred_currency}</li>
                    <li class="list-group-item"><strong>Preferred Payment Method:</strong> ${referral.preferred_payment_method}</li>
                    <li class="list-group-item"><strong>payout Schedule:</strong> ${referral.payout_schedule}</li>
                    <li class="list-group-item"><strong>Notification Preference:</strong> ${referral.notification_preference}</li>
                    <li class="list-group-item"><strong>Dashboard Layout:</strong> ${referral.dashboard_layout}</li>`;
                detailList.innerHTML = details;
            } catch (error) {
                console.error('Error fetching referral setting detail:', error);
            }
        }

        // Chiamata alla funzione con l'ID dell'affiliato da visualizzare
        fetchReferralSettingDetail();
    </script>
</body>
</html>
