
{% extends 'dashboard/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}Dashboard - Referred Investor Accounts {% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<!-- Utenti referenziati -->
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="section-title">{% translate "My Investor Accounts" %}</h4>
                <table class="table table-striped" id="user-table">
                    <thead>
                        <tr>
                            <th>{% translate "Name" %}</th>
                            <th>{% translate "Last Name" %}</th>
                            <th>{% translate "Username" %}</th>
                            <th>{% translate "Level" %}</th>
                            <th>{% translate "Date Joined" %}</th>
                        </tr>
                    </thead>
                    <tbody id="user-table-tbody ">
                        {% for referred_user in referred_leveled_users %}
                        <tr>
                            <th>{{ referred_user.first_name }}</th>
                            <th>{{ referred_user.last_name }}</th>
                            <th>{{ referred_user.username }}</th>
                            <th>{{ referred_user.level }}</th>
                            <th>{{ referred_user.date_joined|date:"d/m/Y" }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
 