
{% extends 'dashboard/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}Dashboard - Referred Master Accounts {% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<!-- Utenti referenziati -->
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="section-title">{% trans "My Master Accounts" %}</h4>
                <table class="table table-striped" id="user-table">
                    <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Last Name" %}</th>
                            <th>{% trans "Username" %}</th>
                            <th>{% trans "Level" %}</th>
                            <th>{% trans "Date Joined" %}</th>
                        </tr>
                    </thead>
                    <tbody id="user-table-tbody ">
                        {#% for referred_user in master_account %#}
                        <tr>
                            <th>{{ master_account.first_name }}</th>
                            <th>{{ master_account.last_name }}</th>
                            <th>{{ master_account.username }}</th>
                            <th>0</th>
                            <th>{{ master_account.date_joined|date:"d/m/Y" }}</th>
                        </tr>
                        {#% endfor %#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
 