{% extends 'dashboard/layout.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Add Item to Order</h2>

        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary mt-3" type="submit">Add Item to Order</button>
        <a class="btn btn-primary mt-3" href="{% url 'product_list' %}">Torna all'elenco</a>
    </div>
</div>
</div>
{% endblock %}