<!-- create_product.html -->
{% extends 'dashboard/layout.html' %}
{% load static %}
{% load i18n %}

{% block styles %} 
<style>
  #card {
    padding: 5px;
    margin: 5px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-header">
          <h2>{% trans "Create a new product" %}</h2>
        </div>
        <form method="POST">
          <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <div class="card-footer">
            <button class="btn btn-primary mt-3" type="submit">{% trans "Create Product" %}</button>
            <a class="btn btn-secondary mt-3" href="{% url 'product_list' %}">{% trans "Annulla" %}</a>
          </div>
        </form>
      </div>

    </div>

  </div>

</div>

{% endblock %}