{% extends "dashboard/layout.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Prodotto</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="product-name">Nome</label>
                <input type="text" class="form-control" id="product-name" value="{{ product.name }}">
            </div>
            <div class="form-group">
                <label for="product-quantity">Quantità</label>
                <input type="text" class="form-control" id="product-quantity" value="{{ product.quantity }}">
            </div>
            <div class="form-group">
                <label for="product-price">Prezzo</label>
                <input type="text" class="form-control" id="product-price" value="{{ product.price }}">
            </div>
            <div class="form-group">
                <label for="product-description">Descrizione</label>
                <input type="text" class="form-control" rows="3" id="product-description"
                    value="{{ product.description }}">
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary mt-3" href="{% url 'create_order' %}">Ordina</a>
            <a class="btn btn-primary mt-3" href="{% url 'product_list' %}">Torna all'elenco</a>
        </div>
    </div>
</div>
{% endblock %}