{% extends 'dashboard/layout.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
<!-- CSS Plugin e Custom -->
<link rel="stylesheet" href="{% static 'dashboard/vendors/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/vendors/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/vertical-layout-light/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Elenco Prodotti" %}</h1>

    <a class="btn btn-primary mt-3" href="{% url 'create_product' %}">{% trans "Crea Prodotto" %}</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Nome" %}</th>
                <th>{% trans "Quantità" %}</th>
                <th>{% trans "Prezzo" %}</th>
                <th>{% trans "Azioni" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a class="btn btn-primary mt-3" href="{% url 'product_detail' product.pk %}">{% trans "Visualizza" %}</a>
                    <a class="btn btn-secondary mt-3" href="{% url 'update_product' product.pk %}">{% trans "Modifica" %}</a>
                    <a class="btn btn-warning mt-3" href="{% url 'create_order' %}">{% trans "Ordina" %}</a>
                    <a class="btn btn-danger mt-3" href="{#% url 'product_delate' product.pk %#}">{% trans "Cancella" %}</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">{% trans "Nessun prodotto disponibile." %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if is_paginated %}
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; prima</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "precedente" %}</a>
            {% endif %}
            <span>Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "successiva" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "ultima &raquo;" %}</a>
            {% endif %}
        </span>
        {% endif %}
    </div>
</div>
{% endblock %}