\ 
{% extends "core/base.html" %}

{% block title %}Commission Detail{% endblock %}

{% block content %}
<div class="container">
    <h1>Commission Detail</h1>
    <hr>
    <p><strong>Id:</strong> {{ commission_item.id }}</p>
<p><strong>Participant Id:</strong> {{ commission_item.participant_id }}</p>
<p><strong>Program Id:</strong> {{ commission_item.program_id }}</p>
<p><strong>Amount:</strong> {{ commission_item.amount }}</p>
<p><strong>Currency:</strong> {{ commission_item.currency }}</p>
<p><strong>Date Awarded:</strong> {{ commission_item.date_awarded }}</p>
<p><strong>Status:</strong> {{ commission_item.status }}</p>
<p><strong>Approved By:</strong> {{ commission_item.approved_by }}</p>
<p><strong>Type:</strong> {{ commission_item.type }}</p>
<p><strong>Description:</strong> {{ commission_item.description }}</p>
<p><strong>Tier:</strong> {{ commission_item.tier }}</p>
    <a href="{% url 'core:commission_update' commission_item.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'core:commission_delete' commission_item.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'core:commission_list' %}" class="btn btn-secondary">Back to list</a>
</div>

<!-- Include modals for create/update if needed -->
{% include 'core/modals/modal_create_update_commission.html' %}

{% endblock %}


{% block scripts %}
<script>
    // Funzione per estrarre l'ID dall'URL
    function getModelIdFromUrl() {
        const pathSegments = window.location.pathname.split('/'); // Dividi il percorso dell'URL
        return pathSegments[pathSegments.length - 2]; // L'ID dovrebbe essere il penultimo segmento
    }

    async function fetchModelDetail(apiEndpoint, detailContainerId) {
        const id = getModelIdFromUrl(); // Ottieni l'ID dinamicamente
        try {
            const response = await fetch(`${window.location.protocol}://${window.location.host}${apiEndpoint}${id}/`);
            const modelData = await response.json();
            
            const detailList = document.getElementById(detailContainerId);
            if (!detailList) {
                console.error(`Element with ID "${detailContainerId}" not found.`);
                return;
            }

            const details = Object.entries(modelData)
                .map(([key, value]) => `<li class="list-group-item"><strong>${key.replace('_', ' ').replace(/^\w/, c => c.toUpperCase())}:</strong> ${value}</li>`)
                .join('');
            
            detailList.innerHTML = details;
        } catch (error) {
            console.error(`Error fetching detail for ${apiEndpoint}:`, error);
        }
    }

    // Specifica l'endpoint API e l'ID del container per il modello corrente
    const apiEndpoint = '/api/v0/commissions/'; // Aggiorna dinamicamente per altri modelli
    const detailContainerId = 'CommissionDetail';

    // Esegui il fetch al caricamento della pagina
    fetchModelDetail(apiEndpoint, detailContainerId);
</script>
{% endblock %}
