\ 
{% extends "core/base.html" %}

{% block title %}Participant Detail{% endblock %}

{% block content %}
<div class="container">
    <h1>Participant Detail</h1>
    <hr>
    <p><strong>Id:</strong> {{ participant_item.id }}</p>
<p><strong>User Id:</strong> {{ participant_item.user_id }}</p>
<p><strong>Program Id:</strong> {{ participant_item.program_id }}</p>
<p><strong>Status:</strong> {{ participant_item.status }}</p>
<p><strong>Total Earnings:</strong> {{ participant_item.total_earnings }}</p>
<p><strong>Account Balance:</strong> {{ participant_item.account_balance }}</p>
<p><strong>Date Joined:</strong> {{ participant_item.date_joined }}</p>
<p><strong>Last Login:</strong> {{ participant_item.last_login }}</p>
<p><strong>Referral Source:</strong> {{ participant_item.referral_source }}</p>
    <a href="{% url 'core:participant_update' participant_item.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'core:participant_delete' participant_item.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'core:participant_list' %}" class="btn btn-secondary">Back to list</a>
</div>

<!-- Include modals for create/update if needed -->
{% include 'core/modals/modal_create_update_participant.html' %}

{% endblock %}


{% block scripts %}
<script>
    // Funzione per estrarre l'ID dall'URL
    function getModelIdFromUrl() {
        const pathSegments = window.location.pathname.split('/'); // Dividi il percorso dell'URL
        return pathSegments[pathSegments.length - 2]; // L'ID dovrebbe essere il penultimo segmento
    }

    async function fetchModelDetail(apiEndpoint, detailContainerId) {
        const id = getModelIdFromUrl(); // Ottieni l'ID dinamicamente
        try {
            const response = await fetch(`${window.location.protocol}://${window.location.host}${apiEndpoint}${id}/`);
            const modelData = await response.json();
            
            const detailList = document.getElementById(detailContainerId);
            if (!detailList) {
                console.error(`Element with ID "${detailContainerId}" not found.`);
                return;
            }

            const details = Object.entries(modelData)
                .map(([key, value]) => `<li class="list-group-item"><strong>${key.replace('_', ' ').replace(/^\w/, c => c.toUpperCase())}:</strong> ${value}</li>`)
                .join('');
            
            detailList.innerHTML = details;
        } catch (error) {
            console.error(`Error fetching detail for ${apiEndpoint}:`, error);
        }
    }

    // Specifica l'endpoint API e l'ID del container per il modello corrente
    const apiEndpoint = '/api/v0/participants/'; // Aggiorna dinamicamente per altri modelli
    const detailContainerId = 'ParticipantDetail';

    // Esegui il fetch al caricamento della pagina
    fetchModelDetail(apiEndpoint, detailContainerId);
</script>
{% endblock %}
