\ 
{% extends "core/base.html" %}

{% block title %}ReferralLevel Detail{% endblock %}

{% block content %}
<div class="container">
    <h1>ReferralLevel Detail</h1>
    <hr>
    <p><strong>Id:</strong> {{ referrallevel_item.id }}</p>
<p><strong>Referrer:</strong> {{ referrallevel_item.referrer }}</p>
<p><strong>Referred:</strong> {{ referrallevel_item.referred }}</p>
<p><strong>Level:</strong> {{ referrallevel_item.level }}</p>
    <a href="{% url 'core:referrallevel_update' referrallevel_item.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'core:referrallevel_delete' referrallevel_item.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'core:referrallevel_list' %}" class="btn btn-secondary">Back to list</a>
</div>

<!-- Include modals for create/update if needed -->
{% include 'core/modals/modal_create_update_referral_level.html' %}

{% endblock %}


{% block scripts %}
<script>
    // Funzione per estrarre l'ID dall'URL
    function getModelIdFromUrl() {
        const pathSegments = window.location.pathname.split('/'); // Dividi il percorso dell'URL
        return pathSegments[pathSegments.length - 2]; // L'ID dovrebbe essere il penultimo segmento
    }

    async function fetchModelDetail(apiEndpoint, detailContainerId) {
        const id = getModelIdFromUrl(); // Ottieni l'ID dinamicamente
        try {
            const response = await fetch(`${window.location.protocol}://${window.location.host}${apiEndpoint}${id}/`);
            const modelData = await response.json();
            
            const detailList = document.getElementById(detailContainerId);
            if (!detailList) {
                console.error(`Element with ID "${detailContainerId}" not found.`);
                return;
            }

            const details = Object.entries(modelData)
                .map(([key, value]) => `<li class="list-group-item"><strong>${key.replace('_', ' ').replace(/^\w/, c => c.toUpperCase())}:</strong> ${value}</li>`)
                .join('');
            
            detailList.innerHTML = details;
        } catch (error) {
            console.error(`Error fetching detail for ${apiEndpoint}:`, error);
        }
    }

    // Specifica l'endpoint API e l'ID del container per il modello corrente
    const apiEndpoint = '/api/v0/referral-levels/'; // Aggiorna dinamicamente per altri modelli
    const detailContainerId = 'ReferralLevelDetail';

    // Esegui il fetch al caricamento della pagina
    fetchModelDetail(apiEndpoint, detailContainerId);
</script>
{% endblock %}
