<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available URLs</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Available URLs</h1>
    <ul>
        {% for url in available_urls %}
            <li>{{ url }}</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'core_home' %}">Go back to Home</a></p>
</body>
</html>
