{% extends 'dashboard/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}Dashboard - Referral Program{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

{% if user.is_superuser %}
<div class="row">
    <!-- Box Programmi di Affiliazione -->
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card shadow-lg rounded-3">
            <div class="card-body">
                <h4 class="card-title">{% trans "I tuoi Programmi di Affiliazione" %}</h4>
                <!-- Modulo per Creare un Nuovo Programma -->
                <button class="btn btn-primary mt-3 mb-3" id="create-program-btn" data-toggle="modal"
                    data-target="#createProgramModal">{% trans "Crea Nuovo Programma" %}</button>
                <br>
                <div id="programs-list">
                    <!-- Qui saranno mostrati i programmi di affiliazione -->
                </div>

            </div>
        </div>
    </div>

    <!-- Box Campagne Attive -->
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card shadow-lg rounded-3">
            <div class="card-body">
                <h4 class="card-title">{% trans "Campagne Attive" %}</h4>
                <!-- Modulo per Creare una Nuova Campagna -->
                <button class="btn btn-primary mt-3 mb-3" id="create-campaign-btn" data-toggle="modal"
                    data-target="#createCampaignModal">{% trans "Lancia Nuova Campagna" %}</button>
                <br>
                <div id="campaigns-list">
                    <!-- Qui saranno mostrate le campagne -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="row mt-4">
    <!-- Box Code Referral -->
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card shadow-lg rounded-3 card-equal">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">{% trans "Il Tuo Code Referral" %}</h4>

                <!-- Codice Referral -->
                <div class="d-flex align-items-center mb-4">
                    <input type="text" class="form-control rounded-3" id="referral-code" value="{{ referral_code }}"
                        readonly>
                    <button class="btn btn-primary rounded-3 ms-2 ml-2" id="copy-code" aria-label="Copia Codice">
                        <i class="bi bi-clipboard"></i>
                    </button>
                </div>

                <!-- URL Referral -->
                <div class="d-flex align-items-center mb-4">
                    <input type="text" class="form-control rounded-3" id="referral-unique-url"
                        value="{{ referral_unique_url }}" readonly>
                    <button class="btn btn-primary rounded-3 ms-2 ml-2" id="copy-url" aria-label="Copia URL">
                        <i class="bi bi-link"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Statistiche Generali e Performance Referral -->
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card shadow-lg rounded-3 card-equal">
            <div class="card-body">
                <h4 class="section-title">{% trans "Statistiche del Profilo" %}</h4>
                <p class="profile-stat">{% trans "Totale Guadagni (€):" %}</p>
                <p id="total-commission" class="profile-stat-value">{% trans "N/A" %}</p>
                <p class="profile-stat">{% trans "Referral Attivi:" %}</p>
                <p id="active-referrals" class="profile-stat-value">{% trans "N/A" %}</p>
                <p class="profile-stat">{% trans "Commissioni Totali (€):" %}</p>
                <p id="total-rewards" class="profile-stat-value">{% trans "N/A" %}</p>
            </div>
        </div>
    </div>
</div>





<!-- Sezione Codice Referral -->
<!--  
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="section-title">{% trans "Il Tuo Codice Referral" %}</h4>
                <p class="profile-stat">{% trans "Codice Referral:" %}</p>
                <p id="referral-code" class="profile-stat-value">{{ user.referral_code.code }}</p>
                <p class="profile-stat">{% trans "Link Referral Unico:" %}</p>
                <input type="text" id="referral-link" class="form-control" value="{{ user.referral_code.unique_url }}"
                    readonly>
                <button type="button" id="copy-code" class="copy-link-btn btn-lg">{% trans "Copia Link" %}</button>
            </div>
        </div>
    </div>
</div>-->

<!-- Sezione per gli Utenti Invitati -->
<!-- Si puo cancellare se funziona la tabella -->
<!-- Con questo elenco si possono vedere solo i referenziati di primo livello -->
<!--<div class="mt-3">
    <h4>{% trans "Utenti invitati" %}</h4>
    <ul>
        {#% for referred_user in referred_users %#}
        <li>
            {#{ referred_user.username }#}
            <span class="text-muted">(Registrato il {#{ referred_user.date_joined|date:"d/m/Y" }#})</span>
        </li>
        {#% empty %#}
        <li>{% trans "Non hai ancora invitato nessuno." %}</li>
        {#% endfor %#}
    </ul>
</div>-->
<div class="mt-3">
    <h4 class="mb-3 text-center">{% trans "Utenti Invitati" %}</h4>
    <ul class="list-group">
        {% for referred_user in referred_users %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ referred_user.username }}</strong>
                <span class="text-muted d-block">Registrato il {{ referred_user.date_joined|date:"d/m/Y" }}</span>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item text-center text-muted">{% trans "Non hai ancora invitato nessuno." %}</li>
        {% endfor %}
    </ul>
</div>





<!-- Utenti referenziati -->
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card shadow-lg rounded-3">
            <div class="card-body">
                <h4 class="section-title">{% trans "La mia rete" %}</h4>
                <table class="table table-striped" id="user-table">
                    <thead>
                        <tr>
                            <th>{% trans "Nome" %}</th>
                            <th>{% trans "Cognome" %}</th>
                            <th>{% trans "Username" %}</th>
                            <th>{% trans "Level" %}</th>
                            <th>{% trans "Date Joined" %}</th>
                        </tr>
                    </thead>
                    <tbody id="user-table-tbody ">
                        {% for referred_user in referred_leveled_users %}
                        <tr>
                            <th>{{ referred_user.first_name }}</th>
                            <th>{{ referred_user.last_name }}</th>
                            <th>{{ referred_user.username }}</th>
                            <th>{{ referred_user.level }}</th>
                            <th>{{ referred_user.date_joined|date:"d/m/Y" }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Dettagli Referral e Programmi -->
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card shadow-lg rounded-3">
            <div class="card-body">
                <h4 class="section-title">{% trans "Bonus Referral (€):" %}</h4>
                <p id="bonus-amount" class="profile-stat-value">{% trans "N/A" %}</p>
                <p class="profile-stat">{% trans "Programmi Bonus:" %}</p>
                <p id="bonus-programs-count" class="profile-stat-value">{% trans "N/A" %}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-lg rounded-3">
            <div class="card-body">
                <h4 class="section-title">{% trans "Codici Referral" %}</h4>
                <p id="referral-codes-count" class="profile-stat-value">{% trans "N/A" %}</p>
                <p class="profile-stat">{% trans "Codici Attivi:" %}</p>
                <p id="active-referral-codes" class="profile-stat-value">{% trans "N/A" %}</p>
            </div>
        </div>
    </div>
</div>

<!-- Attività Recenti -->
<div class="row mt-5">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card shadow-lg rounded-3">
            <div class="card-body">
                <h4 class="section-title">{% trans "Attività Recenti" %}</h4>
                <table class="table table-striped" id="recent-activities">
                    <thead>
                        <tr>
                            <th>{% trans "Data" %}</th>
                            <th>{% trans "Tipo" %}</th>
                            <th>{% trans "Dettagli" %}</th>
                            <th>{% trans "Importo" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Attività recenti caricate via AJAX -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modale per Creare un Programma -->
<div class="modal fade" id="createProgramModal" tabindex="-1" role="dialog" aria-labelledby="createProgramModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProgramModalLabel">{% trans "Crea Programma di Affiliazione" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createProgramForm">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <div class="form-group">
                        <label for="program-name">{% trans "Nome Programma" %}</label>
                        <input type="text" class="form-control" id="program-name" required>
                    </div>
                    <div class="form-group">
                        <label for="program-description">{% trans "Descrizione" %}</label>
                        <textarea class="form-control" id="program-description" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="program-reward">{% trans "Tipo di Ricompensa" %}</label>
                        <select class="form-control" id="program-reward" required>
                            <option value="Discount">{% trans "Sconto" %}</option>
                            <option value="Cashback">{% trans "Cashback" %}</option>
                            <option value="Points">{% trans "Punti" %}</option>
                            <option value="Percentual">{% trans "Percentuale" %}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="program-reward-value">{% trans "Valore Ricompensa" %}</label>
                        <input type="number" class="form-control" id="program-reward-value" required>
                    </div>
                    <div class="form-group">
                        <label for="program-currency">{% trans "Valuta" %}</label>
                        <select class="form-control" id="program-currency" required>
                            <option value="USD">{% trans "USD" %}</option>
                            <option value="EUR">{% trans "EUR" %}</option>
                            <option value="GBP">{% trans "GBP" %}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="program-allowed-regions">{% trans "Regioni permesse" %}</label>
                        <select class="form-control" id="program-allowed-regions" multiple required>
                            <!-- Option values for regions will be populated dynamically -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="program-target-industry">{% trans "Settore Target" %}</label>
                        <input type="text" class="form-control" id="program-target-industry" required>
                    </div>
                    <div class="form-group">
                        <label for="program-min-referrals">{% trans "Numero Minimo di Referral" %}</label>
                        <input type="number" class="form-control" id="program-min-referrals" required>
                    </div>
                    <div class="form-group">
                        <label for="program-max-referrals">{% trans "Numero Massimo di Referral" %}</label>
                        <input type="number" class="form-control" id="program-max-referrals" required>
                    </div>
                    <div class="form-group">
                        <label for="program-duration">{% trans "Durata Programma (giorni)" %}</label>
                        <input type="number" class="form-control" id="program-duration" required>
                    </div>
                    <button type="submit" class="btn btn-success">{% trans "Crea Programma" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modale per Creare una Campagna -->
<div class="modal fade" id="createCampaignModal" tabindex="-1" role="dialog" aria-labelledby="createCampaignModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCampaignModalLabel">{% trans "Lancia Campagna" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createCampaignForm">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <div class="form-group">
                        <label for="campaign-name">{% trans "Campaign Name" %}</label>
                        <input type="text" class="form-control" id="campaign-name" required>
                    </div>
                    <div class="form-group">
                        <label for="campaign-start-date">{% trans "Start Date" %}</label>
                        <input type="date" class="form-control" id="campaign-start-date" required>
                    </div>
                    <div class="form-group">
                        <label for="campaign-end-date">{% trans "End Date" %}</label>
                        <input type="date" class="form-control" id="campaign-end-date" required>
                    </div>
                    <div class="form-group">
                        <label for="campaign-budget">{% trans "Budget" %}</label>
                        <input type="number" class="form-control" id="campaign-budget" required>
                    </div>
                    <div class="form-group">
                        <label for="campaign-goal">{% trans "Goal" %}</label>
                        <textarea class="form-control" id="campaign-goal" rows="2" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="campaign-program">{% trans "Select Affiliate Programs" %}</label>
                        <select class="form-control" id="campaign-program" required>
                            <!-- The programs will be dynamically populated -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="campaign-spending-to-date">{% trans "Spending To Date" %}</label>
                        <input type="number" class="form-control" id="campaign-spending-to-date" value="0" required>
                    </div>
                    <button type="submit" class="btn btn-success">{% trans "Lancia Campagna" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Funzione per copiare il referral code
        $('#copy-code').click(function () {
            var copyText = $('#referral-code')[0];
            copyText.select();

            // Cambia l'icona del bottone in "clipboard-check"
            var copyCode = $('#copy-code');
            copyCode.html('<i class="bi bi-clipboard-check"></i>');  // Cambia l'icona

            // Esegui il comando per copiare il testo
            document.execCommand('copy');

            // Dopo 2 secondi (2000 ms), ripristina l'icona originale
            setTimeout(function () {
                copyCode.html('<i class="bi bi-clipboard"></i>');  // Ripristina il testo o l'icona originale
            }, 2000);  // Tempo di attesa in millisecondi (2 secondi)
        });

        // Funzione per copiare il link referral
        $('#copy-url').click(function () {
            var copyText = $('#referral-unique-url')[0];
            copyText.select();

            // Cambia l'icona del bottone in "link-45deg"
            var copyCode = $('#copy-url');
            copyCode.html('<i class="bi bi-link-45deg"></i>');  // Cambia l'icona

            // Esegui il comando per copiare il testo
            document.execCommand('copy');

            // Dopo 2 secondi (2000 ms), ripristina l'icona originale
            setTimeout(function () {
                copyCode.html('<i class="bi bi-link"></i>');  // Ripristina il testo o l'icona originale
            }, 2000);  // Tempo di attesa in millisecondi (2 secondi)
        });

        // Function to get CSRF token from the document's cookies
        function getCSRFToken() {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            return csrfToken;
        }


        // Carica i dati tramite fetch 
        async function loadReferralStats() {
            try {
                const response = await fetch(`${window.location.origin}/api/v0/referral/stats/`);

                // Controllo se la risposta è valida
                if (!response.ok) {
                    throw new Error('Errore nel caricamento dei dati');
                }

                const data = await response.json();

                // Verifica se i dati sono strutturati correttamente
                if (data && Array.isArray(data.referral_codes)) {
                    let programsHtml = '';
                    data.referral_codes.forEach(function (code) {
                        programsHtml += `
                    <div class="program">
                        <h5>{% trans "Codice Referral" %}: ${code.code}</h5>
                        <p>{% trans "Utilizzazioni" %}: ${code.usage_count}</p>
                    </div>
                `;
                    });
                    document.getElementById('programs-list').innerHTML = programsHtml;
                } else {
                    console.warn('I codici referral non sono disponibili o sono mal formattati.');
                }

                if (data && Array.isArray(data.referral_campaigns)) {
                    let campaignsHtml = '';
                    data.referral_campaigns.forEach(function (campaign) {
                        campaignsHtml += `
                    <div class="campaign">
                        <h5>{% trans "Campagna" %}: ${campaign.name}</h5>
                        <p>{% trans "Inizio" %}: ${campaign.start_date} - Fine: ${campaign.end_date}</p>
                        <button class="btn btn-primary participate-btn" data-campaign-id="${campaign.id}">{% trans "Partecipa" %}</button>
                    </div>
                `;
                    });
                    document.getElementById('campaigns-list').innerHTML = campaignsHtml;
                } else {
                    console.warn('Le campagne non sono disponibili o sono mal formattate.');
                }

                if (data && Array.isArray(data.recent_activities)) {
                    let activitiesHtml = '';
                    data.recent_activities.forEach(function (activity) {
                        activitiesHtml += `
                    <div class="activity">
                        <p><strong>${activity.date}</strong> - ${activity.type}: ${activity.details} (€${activity.amount})</p>
                    </div>
                `;
                    });
                    document.getElementById('recent-activities').innerHTML = activitiesHtml;
                } else {
                    console.warn('Le attività recenti non sono disponibili o sono mal formattate.');
                }


                /*let referral_code = document.getElementById('referral-code');
                let referral_code_url = document.getElementById('referral-link');
                console.debug(referral_code);
                $.get(`${window.location.protocol}//${window.location.host}/api/v0/profile/data/`, function (data) {
                    // Visualizza il codice referral direttamente dal JSON ricevuto
                    console.debug(data.referral_code);
                    referral_code.value = data.referral_code;
                    referral_code_url.setAttribute('href', `${window.location.protocol}//${window.location.host}/referral-code/${data.referral_code}/`);
                });*/

            } catch (error) {
                console.error('Errore nel caricamento dei dati di referral:', error);
            }
        }

        // Carica i dati 
        async function loadReferralData() {
            try {
                console.log('Inizio caricamento dati referral...');

                const response = await fetch(`${window.location.origin}/api/v0/profile/data/`); // L'endpoint dell'API
                console.log('Risposta API ricevuta:', response);

                // Verifica se la risposta è valida
                if (!response.ok) {
                    throw new Error(`Errore nel caricamento dei dati, stato: ${response.status}`);
                }

                const data = await response.json();
                console.log('Dati JSON ricevuti:', data);

                /*// Simuliamo una risposta dell'API (dati mock)
                const data = {
                    referral_data: {
                        total_commission: 150.75,
                        total_rewards: 80.25,
                        active_referrals: 25
                    },
                    referral_codes: [
                        { code: "ABC123", usage_count: 5 },
                        { code: "DEF456", usage_count: 3 },
                        { code: "XYZ789", usage_count: 0 }
                    ]
                };

                console.log('Dati mock ricevuti:', data);*/

                // Verifica che i dati siano nel formato corretto
                if (data && data.referral_data) {
                    const referralData = data.referral_data;
                    console.log('Dati referral trovati:', referralData);

                    const totalCommission = referralData.total_commission || 0;
                    const totalRewards = referralData.total_rewards || 0;
                    const activeReferrals = referralData.active_referrals || 0;

                    // Aggiorna l'UI con i dati di commissione
                    document.getElementById('total-commission').innerText = `€${totalCommission}`;
                    document.getElementById('active-referrals').innerText = activeReferrals;
                    document.getElementById('total-rewards').innerText = `€${totalRewards}`;

                    // Impostare anche il bonus, se presente
                    if (totalRewards !== undefined) {
                        document.getElementById('bonus-amount').innerText = `€${totalRewards}`;
                    }
                } else {
                    console.error('I dati di referral non sono nel formato previsto:', data);
                }

                // Verifica e aggiorna i codici referral
                if (data && data.referral_codes && Array.isArray(data.referral_codes)) {
                    const referralCodes = data.referral_codes;
                    console.log('Codici referral trovati:', referralCodes);

                    document.getElementById('referral-codes-count').innerText = referralCodes.length;
                    document.getElementById('active-referral-codes').innerText = referralCodes.filter(code => code.usage_count > 0).length;

                    // Se necessario, puoi visualizzare i dettagli dei codici referral
                    let programsHtml = '';
                    referralCodes.forEach(function (code) {
                        programsHtml += `
                    <div class="program">
                        <h5>{% trans "Codice Referral" %}: ${code.code}</h5>
                        <p>{% trans "Utilizzazioni" %}: ${code.usage_count}</p>
                    </div>
                `;
                    });
                    document.getElementById('programs-list').innerHTML = programsHtml;
                } else {
                    console.error('I dati dei codici referral non sono nel formato previsto o non sono presenti:', data);
                }

            } catch (error) {
                // Gestione errori di rete o di altro tipo
                console.error('Errore nel caricamento dei dati di referral:', error.message);
            }
        }
  
        // Funzione per caricare i programmi di affiliazione (programmi)
        async function loadPrograms() {
            try {
                const response = await fetch(`${window.location.origin}/api/v0/referral/programs/`);
                const data = await response.json();
                console.log('load programs: ', data);
                if (data) {
                    const programSelect = document.getElementById('campaign-program');
                    programSelect.innerHTML = ''; // Pulisci il dropdown

                    // Aggiungi una voce di selezione vuota
                    const defaultOption = document.createElement('option');
                    defaultOption.textContent = '{% trans "Seleziona Programma" %}';
                    defaultOption.disabled = true;
                    defaultOption.selected = true;
                    programSelect.appendChild(defaultOption);

                    // Aggiungi i programmi dinamicamente
                    data.forEach(program => {
                        const option = document.createElement('option');
                        option.value = program.id; // Assicurati che 'id' esista nella risposta
                        option.textContent = program.name; // Assicurati che 'name' esista nella risposta
                        programSelect.appendChild(option);
                    });
                } else {
                    //alert('Nessun programma trovato.');
                }
            } catch (error) {
                console.error('Errore nel caricamento dei programmi:', error);
                //alert('Errore nel caricamento dei programmi.');
            }
        }
     
        // Load regions dynamically into the allowed regions select
        async function loadRegions() {
            try {
                const response = await fetch('/api/v0/regions/'); // Assuming you have an endpoint for fetching regions
                const regions = await response.json();
                const select = document.getElementById('program-allowed-regions');
                regions.forEach(region => {
                    const option = document.createElement('option');
                    option.value = region.id;
                    option.textContent = region.name;
                    select.appendChild(option);
                });
            } catch (error) {
                console.error('Error loading regions:', error);
            }
        }


        // Gestione creazione programma
        document.getElementById('createProgramForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            // Ottieni i valori dal modulo
            const name = document.getElementById('program-name').value;
            const description = document.getElementById('program-description').value;
            const rewardType = document.getElementById('program-reward').value;
            const rewardValue = document.getElementById('program-reward-value').value;
            const minReferrals = document.getElementById('program-min-referrals').value;
            const maxReferrals = document.getElementById('program-max-referrals').value;
            const duration = document.getElementById('program-duration').value;
            const currency = document.getElementById('program-currency').value;  // New field
            const allowedRegions = Array.from(document.getElementById('program-allowed-regions').selectedOptions).map(option => option.value); // Get selected regions
            const targetIndustry = document.getElementById('program-target-industry').value;  // New field

            // Crea l'oggetto programData
            const programData = {
                name: name,
                description: description,
                reward_type: rewardType,
                reward_value: rewardValue,
                currency: currency,
                min_referral_count: minReferrals,
                max_referrals_per_user: maxReferrals,
                program_duration: duration,
                allowed_regions: allowedRegions,
                target_industry: targetIndustry,
            };

            try {
                const response = await fetch(`${window.location.origin}/api/v0/referral/programs/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFToken(), // Add the CSRF token in the header
                    },
                    body: JSON.stringify(programData),
                });

                if (!response.ok) {
                    const errorData = await response.json();  // Ottieni i dettagli dell'errore dal server
                    console.error('Errore durante la creazione del programma:', errorData);
                    //alert('Errore durante la creazione del programma.');
                } else {
                    const result = await response.json();
                    console.log('Programma creato con successo:', result);
                    //alert('Programma creato con successo!');
                    $('#createProgramModal').modal('hide');
                }

            } catch (error) {
                console.error('Errore nella creazione del programma:', error);
                //alert('Errore durante la creazione del programma.');
            }
        });
 
        // Handle campaign creation
        document.getElementById('createCampaignForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            // Get values from the form
            const name = document.getElementById('campaign-name').value;
            const startDate = document.getElementById('campaign-start-date').value;
            const endDate = document.getElementById('campaign-end-date').value;
            const budget = document.getElementById('campaign-budget').value;
            const goal = document.getElementById('campaign-goal').value;
            const spendingToDate = document.getElementById('campaign-spending-to-date').value;
            const programId = document.getElementById('campaign-program').value; // Get selected program IDs
            //const programId = Array.from(document.getElementById('campaign-program').selectedOptions).map(option => option.value); // Get selected program IDs

            // Create campaign data object
            const campaignData = {
                campaign_name: name,
                start_date: startDate,
                end_date: endDate,
                goal: goal,
                budget: budget,
                spending_to_date: spendingToDate,
                target_audience: "",
                program: programId,  // Pass the selected program IDs
            };
            console.error('campaignData:', campaignData);
            console.error('programId:', programId);
            try {
                const response = await fetch(`${window.location.origin}/api/v0/referral/campaigns/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFToken(), // Add the CSRF token in the header
                    },
                    body: JSON.stringify(campaignData)
                });
                const result = await response.json();
                if (result.success) {
                    alert('Campagna creata con successo!');
                    $('#createCampaignModal').modal('hide');
                    loadReferralData(); // Ricarica i dati per visualizzare la nuova campagna
                } else {
                    alert('Errore nella creazione della campagna.');
                }
            } catch (error) {
                console.error('Errore nella creazione della campagna:', error);
                alert('Errore durante la creazione della campagna.');
            }
        });


        // Partecipare a una campagna
        $(document).on('click', '.participate-btn', function () {
            var programId = $(this).data('program-id');
            var programPartecipationId = $(this).data('partecipation-id');
            var campaignId = $(this).data('campaign-id');
            $.post(`${window.location.origin}/api/v0/affiliate/programs/${program_id}/partecipations/${partecipation_id}/`, { campaign_id: campaignId }, function (response) {
                if (response.success) {
                    alert('Partecipato con successo!');
                } else {
                    alert('Errore durante la partecipazione.');
                }
            });
        });



    
        // Load regions when the page is ready
        loadRegions();
        // Carica i dati del profilo
        loadReferralStats();
        // Carica i dati al caricamento della pagina
        loadReferralData();
        // Carica i programmi
        loadPrograms();

    });
</script>
{% endblock %}