<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "Privacy Policy" %}</title>
</head>
<body>
   
    <div class="container mt-5">
        <h1>{% translate "Privacy Policy" %}</h1>
        <p>{% translate "La nostra privacy policy è progettata per proteggere i tuoi dati personali e spiegare come raccogliamo, utilizziamo e proteggiamo i tuoi dati quando interagisci con il nostro sito web." %}</p>
        
        <h3>1. Raccolta delle informazioni</h3>
        <p>{% translate "Raccogliamo informazioni personali, come il tuo nome, indirizzo email e altre informazioni necessarie per fornirti il miglior servizio possibile." %}</p>
        
        <h3>2. Utilizzo dei cookie</h3>
        <p>{% translate "Utilizziamo i cookie per migliorare l'esperienza dell'utente sul nostro sito. Per saperne di più sui cookie che utilizziamo, consulta la nostra " %}<a href="#">{% translate "Cookie Policy" %}</a>{% translate "." %}</p>
        
        <h3>3. Protezione dei dati</h3>
        <p>{% translate "Adottiamo misure di sicurezza appropriate per proteggere i tuoi dati personali e per garantire che siano trattati in conformità con le leggi sulla protezione dei dati." %}</p>
        
        <h3>4. I tuoi diritti</h3>
        <p>{% translate "Hai il diritto di accedere, correggere o cancellare i tuoi dati personali in qualsiasi momento. Per esercitare questi diritti, contattaci tramite il nostro supporto clienti." %}</p>
        
        <h3>{% translate "Contatti" %}</h3>
        <p>{% translate "Se hai domande o desideri maggiori informazioni sulla nostra Privacy Policy, puoi contattarci via email a " %}<a href="mailto:contact@example.com">contact@example.com</a>{% translate "." %}</p>
    </div>
    
</body>
</html>
