
{% extends "dashboard/layout.html" %}
{% load static %}

{% block title %}Dashboard - Whitdrawals {% endblock %}

{% block styles %}
<!-- CSS Plugin e Custom -->
<link rel="stylesheet" href="{% static 'dashboard/vendors/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/vendors/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/vertical-layout-light/style.css' %}">
<link rel="shortcut icon" href="{% static 'dashboard/images/favicon.png' %}">
{% endblock %}

{% block content %} 
{% endblock %}

{% block scripts %}
<script src="{% static 'dashboard/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'dashboard/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'dashboard/js/off-canvas.js' %}"></script>
<script src="{% static 'dashboard/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'dashboard/js/template.js' %}"></script>
<script src="{% static 'dashboard/js/settings.js' %}"></script>
{% endblock %}
 