    <!-- Modal per creazione/aggiunta di nuova istanza -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Create New Example</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createForm">
                        <!-- Campi di input per la creazione -->
                        
        <div class="mb-3">
            <label for="createid" class="form-label">Id</label>
            <input type="text" class="form-control" data-field="id" id="createid" required>
        </div>
        

        <div class="mb-3">
            <label for="createparticipant_id" class="form-label">Participant Id</label>
            <input type="text" class="form-control" data-field="participant_id" id="createparticipant_id" required>
        </div>
        

        <div class="mb-3">
            <label for="createamount" class="form-label">Amount</label>
            <input type="text" class="form-control" data-field="amount" id="createamount" required>
        </div>
        

        <div class="mb-3">
            <label for="createcurrency" class="form-label">Currency</label>
            <input type="text" class="form-control" data-field="currency" id="createcurrency" required>
        </div>
        

        <div class="mb-3">
            <label for="createpayout_date" class="form-label">Payout Date</label>
            <input type="text" class="form-control" data-field="payout_date" id="createpayout_date" required>
        </div>
        

        <div class="mb-3">
            <label for="createpayout_method" class="form-label">Payout Method</label>
            <input type="text" class="form-control" data-field="payout_method" id="createpayout_method" required>
        </div>
        

        <div class="mb-3">
            <label for="createstatus" class="form-label">Status</label>
            <input type="text" class="form-control" data-field="status" id="createstatus" required>
        </div>
        

        <div class="mb-3">
            <label for="createtransaction_id" class="form-label">Transaction Id</label>
            <input type="text" class="form-control" data-field="transaction_id" id="createtransaction_id" required>
        </div>
        

        <div class="mb-3">
            <label for="createprocessing_fee" class="form-label">Processing Fee</label>
            <input type="text" class="form-control" data-field="processing_fee" id="createprocessing_fee" required>
        </div>
        

        <div class="mb-3">
            <label for="createnet_amount" class="form-label">Net Amount</label>
            <input type="text" class="form-control" data-field="net_amount" id="createnet_amount" required>
        </div>
        

        <div class="mb-3">
            <label for="createprovider" class="form-label">Provider</label>
            <input type="text" class="form-control" data-field="provider" id="createprovider" required>
        </div>
        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="createSubmitBtn" onclick="saveNewExample()">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal per modifica istanza -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Example</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <input type="hidden" id="editId">
                        <!-- Campi di input per la modifica -->
                        
        <div class="mb-3">
            <label for="editid" class="form-label">Id</label>
            <input type="text" class="form-control" data-field="id" id="editid" required>
        </div>
        

        <div class="mb-3">
            <label for="editparticipant_id" class="form-label">Participant Id</label>
            <input type="text" class="form-control" data-field="participant_id" id="editparticipant_id" required>
        </div>
        

        <div class="mb-3">
            <label for="editamount" class="form-label">Amount</label>
            <input type="text" class="form-control" data-field="amount" id="editamount" required>
        </div>
        

        <div class="mb-3">
            <label for="editcurrency" class="form-label">Currency</label>
            <input type="text" class="form-control" data-field="currency" id="editcurrency" required>
        </div>
        

        <div class="mb-3">
            <label for="editpayout_date" class="form-label">Payout Date</label>
            <input type="text" class="form-control" data-field="payout_date" id="editpayout_date" required>
        </div>
        

        <div class="mb-3">
            <label for="editpayout_method" class="form-label">Payout Method</label>
            <input type="text" class="form-control" data-field="payout_method" id="editpayout_method" required>
        </div>
        

        <div class="mb-3">
            <label for="editstatus" class="form-label">Status</label>
            <input type="text" class="form-control" data-field="status" id="editstatus" required>
        </div>
        

        <div class="mb-3">
            <label for="edittransaction_id" class="form-label">Transaction Id</label>
            <input type="text" class="form-control" data-field="transaction_id" id="edittransaction_id" required>
        </div>
        

        <div class="mb-3">
            <label for="editprocessing_fee" class="form-label">Processing Fee</label>
            <input type="text" class="form-control" data-field="processing_fee" id="editprocessing_fee" required>
        </div>
        

        <div class="mb-3">
            <label for="editnet_amount" class="form-label">Net Amount</label>
            <input type="text" class="form-control" data-field="net_amount" id="editnet_amount" required>
        </div>
        

        <div class="mb-3">
            <label for="editprovider" class="form-label">Provider</label>
            <input type="text" class="form-control" data-field="provider" id="editprovider" required>
        </div>
        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="editSubmitBtn" onclick="saveExampleChanges()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
