{% extends "affiliate/base.html" %}

{% block title %}Affiliate Audit Detail{% endblock %}

{% block content %} <style>
        .affiliate-list { margin: 20px; }
    </style> 
    <div class="container affiliate-list">
        <h1>Affiliates</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>Status</th>
                    <th>Total Earnings</th>
                </tr>
            </thead>
            <tbody id="affiliateTableBody">
                <!-- Affiliate data will be populated here -->
            </tbody>
        </table>
    </div>

    {% include 'affiliate/modals/modal_create_update_affiliate_audit.html' %}

    <script>
    // Funzione per estrarre l'ID dall'URL
    function getAffiliateIdFromUrl() {
        const pathSegments = window.location.pathname.split('/'); // Dividi il percorso dell'URL
        return pathSegments[pathSegments.length - 2]; // L'ID dovrebbe essere il penultimo segmento
    }
        async function fetchAffiliates() {
            try {
                const response = await fetch(`${window.location.protocol}://${window.location.host}/api/v0/affiliate/affiliates/`);
                const affiliates = await response.json();
                const tableBody = document.getElementById('affiliateTableBody');
                affiliates.forEach(affiliate => {
                    const row = `<tr>
                        <td>${affiliate.id}</td>
                        <td>${affiliate.name}</td>
                        <td>${affiliate.email}</td>
                        <td>${affiliate.country}</td>
                        <td>${affiliate.status}</td>
                        <td>${affiliate.total_earnings}</td>
                    </tr>`;
                    tableBody.insertAdjacentHTML('beforeend', row);
                });
            } catch (error) {
                console.error('Error fetching affiliates:', error);
            }
        }

        window.onload = fetchAffiliates;
    </script>
{% endblock %}
