{% extends "affiliate/base.html" %}

{% block title %}Affiliate Setting Detail{% endblock %}

{% block content %}
    <div class="container">
        <h1>Setting Affiliate Detail</h1>
        
    <!-- Filtraggio e bottoni di azione -->
    <div class="d-flex justify-content-between mb-4">
        <!-- Bottone per creare una nuova istanza -->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="bi bi-plus-circle"></i> Create Instance
        </button>
 
    </div>

    <!-- Tabella degli Audit -->
    <ul class="list-group" id="affiliateSettingDetail">
            <!-- Affiliate Settingdetails will be displayed here -->
        </ul>
    </div>

    {% include 'affiliate/modals/modal_create_update_affiliate_setting.html' %}

    <script>
    // Funzione per estrarre l'ID dall'URL
    function getAffiliateIdFromUrl() {
        const pathSegments = window.location.pathname.split('/'); // Dividi il percorso dell'URL
        return pathSegments[pathSegments.length - 2]; // L'ID dovrebbe essere il penultimo segmento
    }
        async function fetchAffiliateSettingDetail() {
            const id = getAffiliateIdFromUrl(); // Ottieni l'ID dinamicamente
            try {
                const response = await fetch(`${window.location.protocol}://${window.location.host}/api/v0/affiliate/settings/${id}/`);
                const affiliate = await response.json();
                const detailList = document.getElementById('affiliateSettingDetail');
                const details = `
                    <li class="list-group-item"><strong>ID:</strong> ${affiliate.id}</li>
                    <li class="list-group-item"><strong>Preferred Currency:</strong> ${affiliate.preferred_currency}</li>
                    <li class="list-group-item"><strong>Preferred Payment Method:</strong> ${affiliate.preferred_payment_method}</li>
                    <li class="list-group-item"><strong>payout Schedule:</strong> ${affiliate.payout_schedule}</li>
                    <li class="list-group-item"><strong>Notification Preference:</strong> ${affiliate.notification_preference}</li>
                    <li class="list-group-item"><strong>Dashboard Layout:</strong> ${affiliate.dashboard_layout}</li>`;
                detailList.innerHTML = details;
            } catch (error) {
                console.error('Error fetching affiliate setting detail:', error);
            }
        }

        // Chiamata alla funzione con l'ID dell'affiliato da visualizzare
        fetchAffiliateSettingDetail();
    </script>
{% endblock %}
