{% extends "affiliate/base.html" %}

{% block title %}Affiliate Support Ticket Detail{% endblock %}

{% block content %}
    <div class="container">
        <h1>Support Ticket Affiliate Detail</h1>
        
    <!-- Filtraggio e bottoni di azione -->
    <div class="d-flex justify-content-between mb-4">
        <!-- Bottone per creare una nuova istanza -->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="bi bi-plus-circle"></i> Create Instance
        </button>
 
    </div>

    <!-- Tabella degli Audit -->
    <ul class="list-group" id="affiliateSupportTicketDetail">
            <!-- Affiliate SupportTicketdetails will be displayed here -->
        </ul>
    </div>

    {% include 'affiliate/modals/modal_create_update_affiliate_support_ticket.html' %}

    <script>
    // Funzione per estrarre l'ID dall'URL
    function getAffiliateIdFromUrl() {
        const pathSegments = window.location.pathname.split('/'); // Dividi il percorso dell'URL
        return pathSegments[pathSegments.length - 2]; // L'ID dovrebbe essere il penultimo segmento
    }
        async function fetchAffiliateSupportTicketDetail() {
            const id = getAffiliateIdFromUrl(); // Ottieni l'ID dinamicamente
            try {
                const response = await fetch(`${window.location.protocol}://${window.location.host}/api/v0/affiliate/support-tickets/${id}/`);
                const affiliate = await response.json();
                const detailList = document.getElementById('affiliateSupportTicketDetail');
                const details = `
                    <li class="list-group-item"><strong>ID:</strong> ${affiliate.id}</li>
                    <li class="list-group-item"><strong>Ticket Number:</strong> ${affiliate.ticket_number}</li>
                    <li class="list-group-item"><strong>Subject:</strong> ${affiliate.subject}</li>
                    <li class="list-group-item"><strong>Description:</strong> ${affiliate.description}</li>
                    <li class="list-group-item"><strong>Status:</strong> ${affiliate.status}</li>
                    <li class="list-group-item"><strong>Date Created:</strong> ${affiliate.date_created}</li>
                    <li class="list-group-item"><strong>Date Closed:</strong> ${affiliate.date_closed}</li>
                    <li class="list-group-item"><strong>Priority:</strong> ${affiliate.priority}</li>
                    <li class="list-group-item"><strong>Assigned Agent:</strong> ${affiliate.assigned_agent}</li>`;
                detailList.innerHTML = details;
            } catch (error) {
                console.error('Error fetching affiliate support-ticket detail:', error);
            }
        }

        // Chiamata alla funzione con l'ID dell'affiliato da visualizzare
        fetchAffiliateSupportTicketDetail();
    </script>
{% endblock %}