{% extends "referral/base.html" %}

{% block title %}Referral Bonus Detail{% endblock %}

{% block content %}
    <div class="container">
        <h1>Referral Detail</h1>
        
    <!-- Filtraggio e bottoni di azione -->
    <div class="d-flex justify-content-between mb-4">
        <!-- Bottone per creare una nuova istanza -->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="bi bi-plus-circle"></i> Create Instance
        </button>
 
    </div>

    <!-- Tabella degli Audit -->
    <ul class="list-group" id="referralAuditDetail">
            <!-- Referral Auditdetails will be displayed here -->
        </ul>
    </div>

    {% include 'referral/modals/modal_create_update_referral_bonus.html' %}

    <script>
    // Funzione per estrarre l'ID dall'URL
    function getReferralIdFromUrl() {
        const pathSegments = window.location.pathname.split('/'); // Dividi il percorso dell'URL
        return pathSegments[pathSegments.length - 2]; // L'ID dovrebbe essere il penultimo segmento
    }
        async function fetchReferralAuditDetail() {
            const id = getAffiliateIdFromUrl(); // Ottieni l'ID dinamicamente
            try {
                const response = await fetch(`${window.location.protocol}://${window.location.host}/api/v0/referral/bonus/${id}/`);
                const referral = await response.json();
                const detailList = document.getElementById('referralAuditDetail');
                const details = `
                    <li class="list-group-item"><strong>ID:</strong> ${referral.id}</li>
                    <li class="list-group-item"><strong>bonus_type:</strong> ${referral.bonus_type}</li>
                    <li class="list-group-item"><strong>bonus_value:</strong> ${referral.bonus_value}</li>
                    <li class="list-group-item"><strong>min_referrals_required:</strong> ${referral.min_referrals_required}</li>
                    <li class="list-group-item"><strong>Status:</strong> ${referral.status}</li>
                    <li class="list-group-item"><strong>Total Earnings:</strong> ${referral.total_earnings}</li>`;
                detailList.innerHTML = details;
            } catch (error) {
                console.error('Error fetching referral bonus detail:', error);
            }
        }

        // Chiamata alla funzione con l'ID dell'affiliato da visualizzare
        fetchReferralAuditDetail();
    </script>
{% endblock %}
